*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

ul
{
    list-style: none;
}


.form
{
    padding-top: 5vh;
    margin: auto;
    width: 100%;
    text-align: center;
}

.btn
{
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 1vh;
    background-color: rgb(15, 90, 53);
    color: white;
    border-radius: 10px;
}

.form input
{
    padding: 1vh;
    border-radius: 10px;
    border: 1px solid rgb(15, 90, 53)
}

.space
{
    padding: 2vh 0;
    text-align: center;
    width: 100%;
}

li
{
    padding: 0.75vh 0;
}

.btn_apagar_tudo
{
    text-align: center;
    width: 100%;
}